/* #__next {
  height: fit-content;
  width: 100vw;
} */

#name {
  font-family: 'Audiowide', cursive;
  font-size: 4rem;
  text-align: center;
  color: white;
  margin-top: 30px;
}

#name-contact-container {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 40px;
}

#contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding-top: 30px;
}

#about {
  grid-row: 2;
  width: 80%;
  text-align: center;
  align-items: center;
  margin: 40px 0 0 90px;
}

#tree-image {
  width: 600px;
  height: 600px;
  margin: auto;
}

#about-image-container {
  display: flex;
  justify-content: space-around;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  color: white;
}

#dev-acad-link {
  color: #fb8b24;
}

#dev-acad-link:hover {
  text-decoration: underline;
}

#body-container {
  background-color: #0f4c5c;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  row-gap: 50px;
}

#urbanature-container {
  grid-row: 3;
  grid-column: 1/3;
  text-align: center;
  width: 500px;
  margin: auto;
}

#urbanature-image {
  margin-top: 50px;
  margin-bottom: 25px;
  border-radius: 5%;
}

#urbanature-about {
  width: 500px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
